<div class="min-h-full bg-gray-100 flex justify-center items-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 max-w-[80%] w-full">
      <!-- Chart 1: Team Financial Chart -->
      <div class="bg-white min-h-[350px] flex items-center justify-center shadow-lg rounded-xl p-6">
        <canvas id="teamFinancialChart"></canvas>
      </div>
  
      <!-- Chart 2: Player Performance Trend -->
      <div class="bg-white min-h-[350px] flex items-center justify-center shadow-lg rounded-xl p-6">
        
        <canvas id="playerPerformanceTrend"></canvas>
      </div>
    </div>
  </div>
  