<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/877f2c41-08e8-4799-8c37-6a9d601aaa73/resourceGroups/BidWars/providers/Microsoft.Web/sites/bidWars</ResourceId>
    <ResourceGroup>BidWars</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://bidwars-gzagg9cme9haeaf9.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9308c048-ad3c-49ce-856e-77e2fca12ce4</ProjectGuid>
    <PublishUrl>https://bidwars-gzagg9cme9haeaf9.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$bidWars</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>