<div>

    <div class="w-full bg-center bg-cover h-[38rem] " 
    style="background-image: url('assets/home3.jpg'); background-size: cover; background-position: center;">

        <div class="flex items-center justify-center w-full h-full bg-gray-900/40">
            <div class="text-center">
                <h1 class="text-3xl font-semibold text-white lg:text-4xl">Bid. Win. Dominate. - Experience the ultimate sports player auction</h1>
                <div class="mt-4">
                    <a href='/auction' 
                 class="w-full px-6 py-3 mt-4 text-sm font-medium text-white capitalize transition-colors duration-300 transform bg-blue-800 rounded-3xl lg:w-auto hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Start Exploring</a>
                </div>
            </div>
        </div>
    </div>


    <section class="bg-gray-100  ">
        <div class="  container px-6 py-10 mx-auto">
            <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl ">explore our <br> features</h1>
    
            
    
            <div class="mt-8 xl:mt-12 lg:flex lg:items-center">
                <div class="grid w-full grid-cols-1 gap-8 lg:w-1/2 xl:gap-16 md:grid-cols-2">
                    <div class="space-y-3">
                        <span class="inline-block p-3 text-blue-800 bg-blue-100 rounded-xl  ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                            </svg>
                        </span>
    
                        <h1 class="text-xl font-semibold text-gray-700 capitalize ">Analytics & Reporting Tools</h1>
    
                        <p class="text-gray-500 ">
                            Analyze bidding trends, team spending, and player demand through comprehensive reports, helping teams make informed decisions for future auctions and enhancing overall strategy.
                        </p>
                    </div>
    
                    <div class="space-y-3">
                        <span class="inline-block p-3 text-blue-800 bg-blue-100 rounded-xl  ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                            </svg>
                        </span>
    
                        <h1 class="text-xl font-semibold text-gray-700 capitalize ">Real-Time Bidding System</h1>
    
                        <p class="text-gray-500">
                            Experience the excitement of live auctions with our real-time bidding system. Team managers can place bids on players during live events, ensuring that every moment counts.
                        </p>
                    </div>
    
                    <div class="space-y-3">
                        <span class="inline-block p-3 text-blue-800 bg-blue-100 rounded-xl  00">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
                            </svg>
                        </span>
    
                        <h1 class="text-xl font-semibold text-gray-700 capitalize ">Auction Management Features</h1>
    
                        <p class="text-gray-500 ">
                            Easily create and manage sports auctions with our intuitive auction management features. Set auction dates, define player lists, and establish bidding rules to streamline the auction process.
                        </p>
                    </div>
    
                    <div class="space-y-3">
                        <span class="inline-block p-3 text-blue-800 bg-blue-100 rounded-xl  ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                            </svg>
                        </span>
    
                        <h1 class="text-xl font-semibold text-gray-700 capitalize "> Comprehensive Player Management</h1>
    
                        <p class="text-gray-500 ">
                            Our platform offers robust player management capabilities, enabling Player Agents to register and update player profiles seamlessly. Track essential player details such as statistics, skills, and performance history.
                    </div>
                </div>
    
                <div class="hidden lg:flex lg:w-1/2 lg:justify-center">
                    <img class="w-[28rem] h-[28rem] flex-shrink-0 object-cover xl:w-[34rem] xl:h-[34rem] rounded-full bg-contain bg-center" src="https://c0.wallpaperflare.com/preview/16/651/682/ball-baseball-baseball-bat-bat.jpg" alt="">
                </div>
            </div>
        </div>
    </section>



    <section class="bg-white mt-2">
        <div class="container px-6 py-10 mx-auto">
            <h1 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl ">
                What our <span class="text-blue-800 ">clients</span> say
            </h1>
    
            <p class="max-w-2xl mx-auto mt-6 text-center text-gray-500 ">
                Bidwars ensures a fair and transparent auction process, 
                giving every team an equal opportunity to build a championship-caliber roster.
            </p>
    
            <div class="grid grid-cols-1 gap-8 mx-auto mt-8 lg:grid-cols-2 xl:mt-10 max-w-7xl">
                <div class="p-6 bg-gray-100 rounded-lg  md:p-8">
                    <p class="leading-loose text-gray-500 ">
                        “As a player agent, I appreciate the ease of use and robust features of this platform. Registering players, updating profiles, and tracking their performance has never been smoother. The analytics and reporting tools provide valuable insights that help us negotiate better deals for our clients.”
                    </p>
    
                    <div class="flex items-center mt-6">
                        <img class="object-cover rounded-full w-14 h-14" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">
                        
                        <div class="mx-4">
                            <h1 class="font-semibold text-blue-500">Michael Anderson</h1>
                            <span class="text-sm text-gray-500 ">Player Agent of Dhoni</span>
                        </div>
                    </div>
                </div>
    
                <div class="p-6 bg-gray-100 rounded-lg  md:p-8">
                    <p class="leading-loose text-gray-500 ">
                        “Our team's success is directly linked to the efficient and transparent player auction process facilitated by this platform. The real-time bidding feature added an extra layer of excitement, while the comprehensive player profiles helped us make informed decisions. A game-changer for any sports team!”
                    </p>
    
                    <div class="flex items-center mt-6">
                        <img class="object-cover rounded-full w-14 h-14" src="https://images.unsplash.com/photo-1499470932971-a90681ce8530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
                        
                        <div class="mx-4">
                            <h1 class="font-semibold text-blue-500">Mia Brown</h1>
                            <span class="text-sm text-gray-500 0">Team Manager at Chennai Super Kings</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>
