<div class="container mx-auto p-4">
  <header class="text-center mb-3 flex items-center justify-center space-x-4">
    <button 
        (click)="toggleForm()" 
        *ngIf="UserRole == 'Admin' || UserRole == 'Auctioneer'"
        class="px-4 py-2 font-medium text-gray-600 transition-colors duration-200 sm:px-6  rounded-xl hover:bg-gray-50"  >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 sm:w-6 sm:h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
        </svg>
    </button>
  </header>

  <div *ngIf="showForm" class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]">
      <div class="w-full max-w-lg bg-white shadow-2xl rounded-lg p-8 relative">
          <div class="flex items-center mb-4">
              <h3 class="text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-green-400 text-xl font-bold flex-1">Add New Auction</h3>
              <svg (click)="toggleForm()" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 ml-2 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500" viewBox="0 0 320.591 320.591">
                  <path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" data-original="#000000"></path>
                  <path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z" data-original="#000000"></path>
              </svg>
          </div>

          <form class="space-y-4 mt-8" >
              
            <div>
                <label for="name" class="text-gray-800 text-sm mb-2 block">Choose Player</label>
                <select
                  id="name"
                  class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
                  (change)="onPlayerChange($event)"
                >
                  <option *ngFor="let player of players" [value]="player.playerId">
                    {{ player.name }}
                  </option>
                </select>
              </div>
              <div>
                <label for="sport" class="text-gray-800 text-sm mb-2 block">Sport</label>
                <select id="sport" [(ngModel)]="auction.sport" name="sport" class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg">
                    <option value="Cricket">Cricket</option>
                    <option  value="Football">Football</option>
                </select>
            </div>
              <!-- <div>
                  <label for="sport" class="text-gray-800 text-sm mb-2 block">Sport</label>
                  <input type="text" id="sport" [(ngModel)]="auction.sport" name="sport" class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg" placeholder="Enter sport">
              </div> -->
              <!-- <div>
                  <label for="auctioneerId" class="text-gray-800 text-sm mb-2 block">Auctioneer ID</label>
                  <input type="number" id="auctioneerId" [(ngModel)]="auction.auctioneerId" name="auctioneerId" class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg" placeholder="Enter auctioneer ID">
              </div> -->
              <div>
                  <label for="startTime" class="text-gray-800 text-sm mb-2 block">Start Time</label>
                  <input type="datetime-local" id="startTime" [(ngModel)]="auction.startTime" name="startTime" class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg">
              </div>
              <div>
                  <label for="endTime" class="text-gray-800 text-sm mb-2 block">End Time</label>
                  <input type="datetime-local" id="endTime" [(ngModel)]="auction.endTime" name="endTime" class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg">
              </div>
              <div>
                  <label for="status" class="text-gray-800 text-sm mb-2 block">Status</label>
                  <select id="status" [(ngModel)]="auction.status" name="status" class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg">
                      <option value="Ongoing">Ongoing</option>
                      <option  value="Scheduled">Scheduled</option>
                  </select>
              </div>
              <div class="flex justify-end gap-4 !mt-8">
                  <button type="button" (click)="toggleForm()" class="px-6 py-3 rounded-lg text-gray-800 text-sm border-none outline-none tracking-wide bg-gray-200 hover:bg-gray-300">Cancel</button>
                  <button type="submit" (click) = "createAuction()" class="px-6 py-3 rounded-lg text-white text-sm border-none outline-none tracking-wide bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700">Submit</button>
              </div>
          </form>
      </div>
  </div>
</div>
