
<div  class="w-[90%] mx-auto bg-gray-200 max-w-xs overflow-hidden rounded-lg shadow-lg mb-6 hover:shadow-xl transition-shadow duration-300 transform hover:scale-105">
    <a [href]="teamPath">
        <div class="relative">
            <img class="rounded-t-lg object-center w-full h-72" [src]="imgpath" alt="Team Image">
            <div class="absolute inset-0 bg-black opacity-20 rounded-t-lg"></div>
            <div class="absolute bottom-4 left-4 text-white">
                <h2 class="text-2xl font-bold">{{team.name}}</h2>
                <p class="text-sm">{{team.position}}</p>
            </div>
        </div>
    </a>

</div>
